video {
  height: 300px;
  width: 300px;
}
button {
  margin: 0 20px 0 0;
  width: 83px;
}
input {
  margin: 0 20px 0 0;
}

.video {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video-block {
  display: flex;
  height: 300px;
  width: 300px;
  flex-direction: column-reverse;
  padding: 20px;
}

.control-panel {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
